{% extends "index.html" %}


{% block opcioninicio %}
   <li style="font-size:20px"><a href="/">Inicio</a></li>
{% endblock %}



{% block contenido %}
<div id="primarycontainer">
	<div class="box">
		<br/><h2><center><em>{{ respuesta|safe }}</em></center></h2><br/>
		<hr />
      <h2><b>Explicación sencilla de funcionamiento</b></h2>
      <p>- Inicialmente la base de datos está vacía, la cargaremos con el boton de la derecha pensado para ello (para borrarla entera también tenemos otro botón)</p>
      <p>- Una vez cargado todo, podemos navegar por los distintos menús accediendo a la información de los museos</p>
      <p>- En la página principal tenemos la opción de ver los museos accesibles; y en la opción de "Todos" del menú superior, podemos filtrar los museos por el distrito al que pertenecen</p>
      <p>- Solo se puede comentar si se está logueado, aunque los comentarios son anónimos</p>
      <p>- Una lista con los cinco museos más comentados aparecerá en la página principal</p>
      <p>- Si se está registrado, se puede guardar una lista con tus museos favoritos</p>
      <p>- Todo el mundo puede ver las lista hechas por los demás, pero solo pueden ser modificadas por el autor</p>
      <p>- Si se está logueado, se puede elegir tamaño de fuenta y color de fondo de la página</p>
      <p>- Pulsa inicio en cualquier momento para volver a la página principal</p>
	</div>
</div>
{% endblock %}


{% block columnaderecha %}
<div id="secondarycontent">
     <form action="/xml"><button type="submit">Cargar base de datos</button></form><br/>
     <form action="/borrar"><button type="submit">Borrar base de datos</button></form>
</div>
{% endblock %}
