{% extends "index.html" %}


   {% block opcioninicio %}
      <li style="font-size:20px"><a href="/">Inicio</a></li>
   {% endblock %}



   {% block contenido %}
	<div id="primarycontainer">
	     <p><h2>Museos accesibles:</h2></p></br>
		  <ol>
		  {% for museo in museos_accesibles %}
        		<li><a href="{{ museo.contentURL }}">{{ museo.nombre }}</a></li>
		  {% endfor %}
		  </ol>
	</div>
   {% endblock %}


   {% block columnaderecha %}
	<div id="secondarycontent">
	     <form action="/" ><button type="submit">Página principal</button></form>
	</div>
   {% endblock %}

   {% block columnaizquierda %}
   <div id="secondarycontent">
			<p><h3>Lista de usuarios:</h3></p>
         {% for pagina in paginas_users %}
            <li><a href="/{{ pagina.user.username }}">{{ pagina.titulo }}</a></li>
         {% endfor %}
   </div>
   {% endblock %}
