{% extends "index.html" %}


   {% block contenido %}
	<div id="primarycontainer">
	     <center><p><h1>Museos con más comentarios:</h1></p></center></br>
        {{ respuesta|safe }}
	</div>
   {% endblock %}


   {% block columnaderecha %}
	<div id="secondarycontent">
	     <form action="/acces/"><button type="submit">Museos accesibles</button></form>
	</div>
   {% endblock %}

   {% block columnaizquierda %}
   <div id="secondarycontent">
         <p><h3>Lista de páginas personales:</h3></p>
         {% for pagina in paginas_users %}
            <li><a href="/{{ pagina.user.username }}">{{ pagina.titulo }} ({{ pagina.user.username }})</a></li>
         {% endfor %}
   </div>
   {% endblock %}
