{% extends "index.html" %}


   {% block seleccionador %}
   <div id="primarycontainer">
      <div class="box">
         <h2>Filtrar museos por distrito:</h2>
            <form method="post" action="/museos/">
               {% csrf_token %}
               <!--{{ form.as_p }}-->
               <div class="fieldWrapper">
                  {{ form.as_p }}
               </div>
               <input type="submit" value="Submit" />
            </form>
         <hr />
      </div>
   </div>
   {% endblock %}

  {% block contenido %}
  <div id="secondarycontent">
    <center><p><h1>Museos seleccionados: {{ distrito }}</h1></p></center></br>
    <br/><br/>
    <div id="secondarycontent">
      {% for museo in lista_museos %}
          <h3>{{ museo.nombre }}</h3>
          <a href="/museos/{{ museo.id }}">
          Pulse aquí para ver su página</a><br /><hr>

      {% endfor %}
    </div>
  </div>
  {% endblock %}
